fastapi
uvicorn
sqlalchemy
pymysql
pandas
numpy
scikit-learn
xgboost
statsmodels
python-multipart
passlib[bcrypt]
python-jose[cryptography]
pydantic
pydantic-settings
python-dotenv
matplotlib
seaborn
plotly
